@model ResetPasswordEmail
@{
    Layout = "_EmailLayout";
}

Hello,

Please <a asp-controller="Account" asp-action="ResetPassword" asp-protocol="https" asp-route-token="@Model.Token" asp-route-email="@Model.Email">click here</a> to reset your password.