@{
    ViewData["Title"] = "Clients";
}
<div class="row">
    <div data-hr-controller="mainTable" class="col-sm-8">
        <h1>Clients</h1>
        <load visible="true">
            <p>Working...</p>
        </load>
        <main>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th colspan="2">Edit</th>
                        </tr>
                    </thead>
                    <tbody data-hr-view="listing" data-hr-view-component="mainTableBody"></tbody>
                </table>
                <template data-hr-component="mainTableBody">
                    <table>
                        <tr>
                            <td>{{clientId}}</td>
                            <td>{{name}}</td>
                            <td><button data-hr-on-click="createSecret" class="btn btn-default">Create Secret</button></td>
                            <td>
                                <button data-hr-on-click="edit" class="btn btn-default" data-hr-toggle="edit" data-hr-style-off="display:none;">Edit</button>
                                <button data-hr-on-click="view" class="btn btn-default" data-hr-toggle="view" data-hr-style-off="display:none;">View</button>
                                <button data-hr-on-click="del" class="btn btn-default" data-hr-toggle="del" data-hr-style-off="display:none;">Delete</button>
                            </td>
                        </tr>
                    </table>
                </template>
            </div>
            <button data-hr-on-click="add" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button>
            <button data-hr-controller="addFromMetadata" data-hr-on-click="addFromMetadata" class="btn btn-default">Add from Metadata</button>
            <button data-hr-controller="addFromClientCredentialsMetadata" data-hr-on-click="addFromMetadata" class="btn btn-default">Add from Client Credentials Metadata</button>

            <page-numbers></page-numbers>
        </main>

        <error>
            An error occured loading the clients. Please try again later.
        </error>
    </div>

    <div class="col-sm-4">
        <h3>Search</h3>
        <div data-hr-controller="search">
            <load visible="true">
                <p>Loading Search...</p>
            </load>
            <main>
                <form data-hr-on-submit="submit" data-hr-form="input">
                    <p class="bg-danger hiddenToggler" data-hr-toggle="mainError" data-hr-view="mainError" data-hr-style-on="display:block;">{{message}}</p>

                    <button type="submit" class="btn btn-primary" data-hr-form-end>Search</button>
                </form>
            </main>
            <error>
                An error occured loading the search form. Please try again later.
            </error>
        </div>
    </div>
</div>

<modal data-hr-controller="entryEditor" title-text="Edit Api Resource" dialog-classes="modal-lg">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form class="form-horizontal" data-hr-form-component="hr.forms.horizontal"></item-edit-form>
    </main>
    <error class="modal-body">
        <p>An error occured loading the api resource. Please try again later.</p>
    </error>
</modal>

<modal data-hr-controller="secretDisplay" title-text="Secret for {{name}}" data-hr-model="secret">
        <load class="modal-body">
            <p>Working...</p>
        </load>

        <div data-hr-toggle="main" data-hr-style-off="display:none;" >
            <div class="modal-body">
                <div class="well">{{secret}}</div>
                <p>This secret will not be accessible again after this window is closed.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-hr-on-click="close">Close</button>
            </div>
        </div>

        <error data-hr-model="error" class="modal-body">
            <p>An error occured while trying to create a new secret. Please try again later.</p>
            <p>{{message}}</p>
        </error>
</modal>
