<h1>User Search</h1>
<div data-hr-controller="search">
    <load visible="true">
        <p>Working...</p>
    </load>
    <main>
        <form data-hr-on-submit="runSearch" data-hr-model="search">
            <div class="form-group">
                <input class="form-control" type="text" name="term" />
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>

        <h2>Results</h2>
        <div data-hr-model="searchResults">
            <template>
                <div>
                    <h3>{{firstName}} {{lastName}}</h3>
                    <p>User Name: {{userName}}</p>
                    <p>Id: {{spcId}}</p>
                    <p>Guid: {{userId}}</p>
                    <button data-hr-on-click="editRoles" data-hr-toggle="editRoles" data-hr-style-on="display:block;" style="display:none;">Edit Roles</button>
                </div>
            </template>
        </div>
        <toggle hr-toggle="noResults" data-hr-model="noResults">
            <p>No results found for search <b>{{term}}</b></p>
        </toggle>
    </main>
    <error>
        <p class="bg-danger">Cannot complete search at this time, please try again later.</p>
    </error>
</div>

<modal data-hr-controller="entryEditor">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form></item-edit-form>
        <div data-hr-controller="entryPages">
            <button class="btn btn-default" data-hr-on-click="previous" data-hr-toggle="previous" data-hr-style-off="display:none;">Previous</button>
            <button class="btn btn-default" data-hr-on-click="next" data-hr-toggle="next" data-hr-style-off="display:none;">Next</button>
        </div>
    </main>
</modal>