@inject Threax.ProgressiveWebApp.DisplayConfig config;
<!DOCTYPE html>
<html>
<head>
    <style>html{visibility: hidden;opacity:0;background-color:#222;}</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity</title>
    <asset-bundle src="~/bundle.min.css"></asset-bundle>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-brand-app">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@config.SiteName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content mt-3">
        @RenderBody()
        <hr />
        <footer>
            <p>Threax.IdServer</p>
        </footer>
    </div>

    <style>
        html {
            visibility: visible;
            opacity: 1;
        }
    </style>
    <asset-bundle src="~/bundle.min.js"></asset-bundle>
    @RenderSection("scripts", required: false)
    <threax-csp></threax-csp>
</body>
</html>
